<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link href="css1/style_a.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    
    <title>Food Chernivtsy Admin side</title>
	
    <script src="js/tooltip.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="admin.html">FFC Admin side</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="base.html">База</a></li>
        <li><a href="new.html">Надходження<span class="badge">3</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="user.html"><span class="glyphicon glyphicon-user"></span> Користувачі</a></li>
        <li><a href="#" data-toggle="modal"><span class="glyphicon glyphicon-log-out"></span> Вихід</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
	<div class="form">
			<form class="form-horizontal" action="#" method="POST" name="form1" id="form" role="form" >
				
				<div class="form-group">
					<legend><h3>Загальна інфоррмація про заклад:</h3></legend>
					<label class="control-label col-sm-4">Назва<input class="form-control" type="text" name="name" placeholder="Введіть назву" data-toggle="tooltip" title="Введіть назву закладу харчування"/> </label>
					<label class="control-label col-sm-2">Тип<select class="form-control" id="type" name="type" data-toggle="tooltip" title="Виберіть тип вашого закладу">
						<option>Бар</option>
						<option>Кафе</option>
						<option>Комплекс</option>
						<option>Фаст-фуд</option>
						<option>Кондитерська</option>
						<option>Чайна</option>
						<option>Кофейня</option>
						<option>Паб</option>
						<option>Піцерія</option>
						<option>Ресторан</option>
						<option>Столова</option>
						<option>Суші-бар</option>
					</select></label>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-6">Опис<textarea class="form-control" rows="5" id="info" placeholder="Введіть інформацію про ваш заклад яку ви бажаєте опублікувати" data-toggle="tooltip" title="Введіть інформацію про ваш заклад яку ви бажаєте опублікувати"></textarea></label>
				</div>

				
				<div class="form-group">
					<legend><h3>Додаткові опції:</h3></legend>
					<label><input class="checkbox-inline" type="checkbox" value="Банкетний зал">Банкетний зал</label>
					<label><input class="checkbox-inline" type="checkbox" value="Банкетний зал">Доставка їжі</label>
					<label><input class="checkbox-inline" type="checkbox" value="Банкетний зал">Дитяче меню</label>
					<label><input class="checkbox-inline" type="checkbox" value="Банкетний зал">Бізнес-ланч</label>
					<label><input class="checkbox-inline" type="checkbox" value="Банкетний зал">Кава</label>
					<label><input class="checkbox-inline" type="checkbox" value="Банкетний зал">Сніданок</label>
				</div>
				
				<div class="form-group">
					<legend><h3>Контактна особа:</h3></legend>
						<label class="control-label col-sm-2"> Email <input class="form-control" type="email" name="email" placeholder="Введіть Email" data-toggle="tooltip" title="Введіть Email контактної особи"/></label>
						<label class="control-label col-sm-2"> Ім'я <input class="form-control" type="text" name="name" placeholder="Введіть ПІБ" data-toggle="tooltip" title="Введіть прізвище та імя контактної особи"/></label>
						<label class="control-label col-sm-2">Телефон <input class="form-control" type="text" name="tel" placeholder="Введіть номер телефону" data-toggle="tooltip" title="Введіть номер телефону контактної особи"/></label>
				</div>
				<div class="form-group">
						<div class="btn-group">
							<input class="btn btn-success btn-sm" type="submit" value="Add"/>
							<input class="btn btn-warning btn-sm" type="submit" value="Edit"/>
							<input class="btn btn-danger btn-sm" type="submit" value="Del"/>
						  </div>
				</div>
				<div class="form-group">
						<div class="btn-group">
							<input class="btn btn-default btn-sm" type="submit" value="Prev"/>
							<input class="btn btn-default btn-sm" type="submit" value="Next"/>
						  </div>
				</div>
			</form>
			</div>
</div>
	
	<footer>
		<div id="footer" class="container text-center">
		  <p>Made in Ukraine</p>
		  <p><a href="#">2015 All rights reserved.&copy;</a><p>
		</div>
	</footer>
</body>
</html>